$color-principal: rgb(79, 116, 238);

.letrasNegras {
    color: black
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .linea {
    border-top: 1px solid white;
    background-color: white;
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

  img {
    margin-top: 5px;
    width: 40%;
  }

  .margenSuperior {
    margin-top: 2px;
  }

  .margenSuperior2 {
    margin-top: 65px;
  }

  .margenSuperior3 {
    margin-top: 30px;
  }

  .margenSuperior4 {
    margin-top: 15px;
  }

  .centrar {
    text-align: center;
  }

  .letrasRojas {
    color: red
  }

  .cart-widget {
    font-size: 20px;
    color: white;
}

.aLaIzquierda {
  text-align: left;
}